@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.carousel-primary:hover,
.carousel-primary:hover~.carousel-secondary {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.carousel-secondary:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.scroll-container:hover>.carousel-primary:not(:hover) {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}


.carousel-primary {
  justify-content: space-between;
  animation: scroll-horizontal 20s linear infinite;
}





@keyframes scroll-horizontal {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;

}

.scrollVisible {
  scrollbar-color: rgb(50, 49, 49) transparent;
}


@-moz-document url-prefix() {

  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(192, 190, 190) transparent;


  }

  .scrollVisible {
    scrollbar-color: rgb(50, 49, 49) transparent;
  }
}

/* * {
  background: #06f56abe
} */